body {
    overflow-x: hidden;
    margin: 0;
}
html {
    overflow-x: hidden;
}
.header {
    width: 100%;
    background-color: thistle;
    color: white;
    text-align: left;
    padding: 8px;
}
.logo {
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    border: 5px outset pink;
    margin-left: 16%;
    width: 50px;
    height: 50px;
    background-color:black;
}
.heading {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5%;
}
.content_container {
    float: left;
    width: 48%;
    margin-left: 16%;
    margin-right: 36%;
}
.content_name {
    width: 100%;
    margin-top: 6%;
    font-weight: bold;
    font-size: 300%;
}
.content {
    width: 100%;
}
.catalog {
    width: 100%;
    height: auto;
    display: flex;
}
.catalog_left {
    width: 15%;
    float: left;
    background-color: #F8F8FF;
    color: #778899;
    display: flex;
    justify-content: center;
    align-items: center;
}
.catalog_right {
    width: 85%;
    height: auto;
    float: left;
}
.catalog_right_column {
    text-align: left;
    width: 50%;
    height: auto;
    float: left;
}
.text {
    clear: both;
    width: 100%;
    padding-top: 1px;
}
#back_to_top {
    width: 31px;
    height: 40px;
    padding: 20px;
    position: fixed;
    cursor: pointer;
    right: 0;
    bottom: 0;
    display: none;
}

@media screen and (max-width: 1200px) and (min-width: 700px) {
    .content_container {
        float: left;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
    .content_name {
        width: 100%;
        font-size: 170%;
    }
    .content {
        width: 100%;
    }
    .catalog {
        display: block;
    }
    .catalog_left {
        width: 100%;
        height: 60px;
    }
    .catalog_right {
        width: 100%;
    }
    .catalog_right_column {
        width: 50%;
    }
    p.scrollbar {
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-width: thin;
    }
    p::-webkit-scrollbar {
        height: 4px;
        background-color: #F5F5F5;
    }
    p::-webkit-scrollbar-track {
        height: 4px;
    }
    p::-webkit-scrollbar-thumb {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
        background-color: #CCC;
    }
}

@media screen and (max-width: 700px) {
    .content_container {
        float: left;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .content_name {
        width: 100%;
        font-size: 170%;
    }
    .content {
        width: 100%;
    }
    .catalog {
        display: block;
    }
    .catalog_left {
        width: 100%;
        height: 60px;
    }
    .catalog_right {
        width: 100%;
    }
    .catalog_right_column {
        width: 100%;
    }
    p.scrollbar {
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-width: thin;
    }
    p::-webkit-scrollbar {
        height: 4px;
        background-color: #F5F5F5;
    }
    p::-webkit-scrollbar-track {
        height: 4px;
    }
    p::-webkit-scrollbar-thumb {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
        background-color: #CCC;
    }
}