body {
    overflow-x: hidden;
    margin: 0;
}
html {
    overflow-x: hidden;
}
.header {
    width: 100%;
    background-color: thistle;
    color: white;
    text-align: left;
    padding: 8px;
}
.logo {
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    border: 5px outset pink;
    margin-left: 16%;
    width: 50px;
    height: 50px;
    background-color:black;
}
.heading {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5%;
}
.content_container {
    float: left;
    width: 48%;
    margin-left: 16%;
    margin-right: 36%;
}
.content_name {
    width: 100%;
    margin-top: 6%;
    font-weight: bold;
    font-size: 300%;
}
.content {
    width: 100%;
}
.catalog {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.catalog_left {
    width: 15%;
    height: auto;
    float: left;
    background-color: #F8F8FF;
    color: #778899;
    text-align: center;
}
.catalog_right {
    width: 85%;
    height: auto;
    float: left;
}
.catalog_right_column {
    text-align: left;
    width: 50%;
    height: auto;
    float: left;
}
#back_to_top {
    width: 31px;
    height: 40px;
    padding: 20px;
    position: fixed;
    cursor: pointer;
    right: 0;
    bottom: 0;
}
@media screen and (max-width: 1200px) and (min-width: 700px) {
    .content_container {
        float: left;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
    .content_name {
        width: 100%;
        font-size: 170%;
    }
    .content {
        width: 100%;
    }
    .catalog_left {
        width: 100%;
    }
    .catalog_right {
        width: 100%;
    }
    .catalog_right_column {
        width: 50%;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    p {
        overflow-x: scroll;
        overflow-y: hidden;
    }
}
@media screen and (max-width: 700px) {
    .content_container {
        float: left;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .content_name {
        width: 100%;
        font-size: 170%;
    }
    .content {
        width: 100%;
    }
    .catalog_left {
        width: 100%;
    }
    .catalog_right {
        width: 100%;
    }
    .catalog_right_column {
        width: 100%;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    p {
        overflow-x: scroll;
        overflow-y: hidden;
    }
}